#interior {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#oldenburg {
  position: relative;
  background-size: contain;
  background-position: center;
  background-image: url("img/pizza.jpeg");
  margin: 0 auto;
  background-repeat: no-repeat;
}

#oldenburg p {
  color: black;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  letter-spacing: 0.9px;
}

/* Change my mind meme */
#oldenburg img.changeMind {
  width: 320.1px;
  height: 379.5px;
}

/* Doge meme */
#oldenburg img.doge {
  width: 473.3333333333px;
  height: 315.3333333333px;
}

/* Disloyal meme */
#oldenburg img.disloyal {
  width: 492.3076923077px;
  height: 369.2307692308px;
}

/* Ermahgerd meme */
#oldenburg img.ermahgerd {
  width: 309.2307692308px;
  height: 464.6153846154px;
}

.textBox {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  width: 270px;
  height: 270px;
  pointer-events: none;
}

.textBox:target {
  opacity: 1;
  pointer-events: auto;
}

#oldenburg h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}
