#interior {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#oldenburg {
  position: relative;
  width: 1535px;
  height: 1201px;
  background-image: url("img/pizza.jpeg");
  background-size: 95%;
  margin: 0 auto;
  background-repeat: no-repeat;
}

#oldenburg p {
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 18px;
}

/* Change my mind meme */
#oldenburg img.changeMind {
  position: absolute;
  width: 320.1px;
  height: 379.5px;
  left: 223.95px;
  top: 110.5px;
}

/* Doge meme */
#oldenburg img.doge {
  position: absolute;
  width: 473.3333333333px;
  height: 315.3333333333px;
  left: 915.3333333333px;
  top: 142.5833333333px;
}

/* Disloyal meme */
#oldenburg img.disloyal {
  position: absolute;
  width: 492.3076923077px;
  height: 369.2307692308px;
  left: 137.8461538462px;
  top: 716.1346153846px;
}

/* Ermahgerd meme */
#oldenburg img.ermahgerd {
  position: absolute;
  width: 309.2307692308px;
  height: 464.6153846154px;
  left: 997.3846153846px;
  top: 668.4423076923px;
}

.textBox {
  opacity: 0;
  position: absolute;
  top: 450.5px;
  left: 618px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  height: 300px;
  pointer-events: none;
}

.textBox:target {
  opacity: 1;
  pointer-events: auto;
}

#oldenburg h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}
